mixin chat()
    .container-chat
        .row
            .col-md-5.chat-box
                .panel.panel-primary
                    #accordion.panel-heading
                        span.glyphicon.glyphicon-comment
                        |  Chat
                        .btn-group.pull-right
                            a.btn.btn-default.btn-xs(type='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                span.glyphicon.glyphicon-chevron-down
                    #collapseOne.panel-collapse.collapse
                        .panel-body
                            ul.chat
                        .panel-footer
                            .input-group
                                input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
                                span.input-group-btn
                                    button#btn-chat.btn.btn-warning.btn-sm
                                        | Se