extends _shared/_base
include _shared/_nav
include _shared/_chat

block content
    +nav(user)
    .container
        .jumbotron
            if user
                h1 HI #{user.username}
            else
                Hi Annonymous
            p
                | This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
            p To see the difference between static and fixed top navbars, just scroll.
            p
                a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') View navbar docs » #{messages[0]}
    .container
        table#example.display(cellspacing='0', width='100%')
            thead
                tr
                    th id
                    th bookId
                    th title
                    th isbn
                    th author
                    th bookFormatType
                    th numberOfPages

            tfoot
                tr
                    th id
                    th bookId
                    th title
                    th isbn
                    th author
                    th bookFormatType
                    th numberOfPages


    +chat(user)
    .footer