extends _shared/_base
include _shared/_nav

block content
    +nav(user)
    .jumbotron
        .container
            if user
                h1 HI #{user.username}
            else
                Hi Annonymous
            p
                | This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
            p To see the difference between static and fixed top navbars, just scroll.
            p
                a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') View navbar docs »
    .container
        .row
            .col-md-12
                    h3 #{user.username}
                    p #{user.username}
    .footer